<div class="mt-4">
    <div class="row">
        {{#each ultrasonic }}
        <div class="col-sm-6 col-lg-4 ">
            <div class="card">
               
                <div class="card-body">
                
                    
                    <p class="card-text">{{this.value}}</p>
                    <a href="#" class="btn btn-primary">Mua khóa học</a>
                </div>
            </div>
        </div>
        {{/each }}

    </div>
</div>