<div class="mt-4">
    <h3>REGISTER</h3>
    <form method="POST" action="/device/create">
        <div class="mb-3">
            <label for="device_name" class="form-label">device_name</label>
            <input type="text" class="form-control" name="device_name" id="device_name" >
        </div>

         <div class="mb-3">
            <label for="value" class="form-label">value</label>
            <input type="text" class="form-control" name="value" id="value" >
        </div>
      
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>