<div class="mt-4 search-form">
    <form method="POST" >
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ khóa</label>
            <input type="text" class="form-control" name="q" id="search-input" placeholder="Nhập từ khóa .....">
            </div>
            <button type="submit" name="search" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>
</div>